.kitob-li {
  width: 160px;
  padding-bottom: 10px;
  border-radius: 15px;
  list-style-type: none;
  cursor: pointer;
  transition: all .4s ease;
  overflow: hidden;
  margin-right: 40px;
}

.kitob-li:hover img {
  transform: scale(1.01);
}

.kitob-li img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: all .4s ease;
}

.kitob-li h3 {
  font-size: 20px;
  width: 100% ;
  overflow: hidden;
  height: 24px;
}

.kitob-li p {
  color: #fff;
  font-size: 13px;
  margin-top: 10px;

}