.kitob {
  margin-top: 130px;
}

.ul-kitob {
  display: grid;
  grid-template-columns:repeat(6,1fr) ;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  list-style: none;
  gap: 30px;
}

.ul-kitob {
}

.ul-kitob a {
  list-style-type: none;
  text-decoration: none;
}
